<html>
<body>
    <head>
        <title>yuynic's blog</title>
    </head>>
    <body>
        <div>
            <h1><a href="/">yuynic's blog</a>a></h1>
        </div>

        <div>
            <p>published: 26.01.2021, 15:20</p>
            <h2><a href="">My first Post</a></h2>
            <p>Aenean eu leo quam.</p>
        </div>

        <div>
            <p>公開日　2021/01/26, 15:22</p>
            <h2><a href="">2番目の投稿</a></h2>
            <p>よろしく</p>
        </div>
    </body>>
</body>
</html>